# Django
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=

# MQTT
MQTT_HOST=
MQTT_PORT=

# Ntfy
NTFY_URL=
NTFY_TOPIC=

# API
REACT_APP_API_URL=